<div class="container"  fxLayout="column" fxLayoutAlign="start center" >
        <mat-card class="container-card" >
            <div class="titulo-card"><h2>Minhas Lojas</h2></div>
            <div class="conteudo-card" fxLayout="row wrap" fxLayoutAlign="center end"  >
            <mat-card  *ngFor="let loja of lojas" class="loja-card" fxLayout="column" fxLayoutAlign="center center">
                <div>{{loja.nome}}</div>
                <div>{{loja.descricao}}</div>
                <div class="acoes" fxLayout="row" fxLayoutAlign="end end">
                    <span class="material-icons" matTooltip="Ver Loja" (click)="detalharLoja(loja)">launch</span>
                    <span class="material-icons" matTooltip="Editar Loja" (click)="openEditDialog(loja)">edit</span>
                    <span class="material-icons" matTooltip="Deletar Loja" (click)="openDialog(loja.id)">delete</span>
                </div>
            </mat-card>
            <mat-card class="add-loja-card" (click)="openEditDialog(null)"><mat-icon >add_circle_outline</mat-icon><br>Adicionar Loja</mat-card>
            </div>
        </mat-card>
</div>