.container{
    background-color: gray;
    width: 100%;
    height: 100%;
 }

.container-card{
    width: 70%;
    min-height: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.imagem {    
  border-radius: 20px;
  max-width: 150px;
  min-width: 150px;

  max-height: 120px;
  min-height: 120px;

  cursor: pointer;

}

.loja-card{
    width: 200px;
    margin: 5px;
    /* cursor: pointer; */
    text-align: center;
}

.add-loja-card{
    width: 170px;
    height: 190px;
    margin: 5px;
    /* cursor: pointer; */
    color: green;
    text-align: center;
}

.acoes{
    --background-color: pink;
    cursor: pointer;
}

.titulo-card{
    text-align: center;
}


.mat-icon {
    font-size: 40px;
    height: 40px ;
    width: 40px;
  }

 ::ng-deep .notify-warning{
  color: white !important;
  background-color: orange !important;
  border-color: black !important;
}

::ng-deep .notify-successful{
  color: white !important;
  background-color: green !important;
  border-color: black !important;
}

::ng-deep .notify-error{
  color: white !important;
  background-color: red !important;
  border-color: black !important;
}

::ng-deep::ng-deep .mat-simple-snackbar-action {
color: white;
} 