

.container{
    background-color: gray;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
 }

.container-card{
    min-width: 70%;
    min-height: 400px;
    margin-top: 50px;
    text-align: center;
}

.add-loja-card{
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    color: green;
    text-align: center;
}

.loja-card{
    width: 250px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
}

.acoes{
    --background-color: pink;
}

.titulo-card{
    text-align: center;
}


.mat-icon {
    font-size: 40px;
    height: 40px ;
    width: 40px;
  }

 ::ng-deep .notify-warning{
  color: white !important;
  background-color: orange !important;
  border-color: black !important;
}

::ng-deep .notify-successful{
  color: white !important;
  background-color: green !important;
  border-color: black !important;
}

::ng-deep .notify-error{
  color: white !important;
  background-color: red !important;
  border-color: black !important;
}

::ng-deep::ng-deep .mat-simple-snackbar-action {
color: white;
} 