.container-card{
    background-color: grey;
    height: 100%;
    padding-top: 20px;
}

.loja-card{
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
}

.titulo-card{
    text-align: center;
}

.conteudo-card{
    text-align: center;
    padding: 50px;
    min-width: 780px;
    min-height: 200px;
    max-width: 780px;
}