.perfil {    
    --background-color: green;
    width: 70%;
    min-height: 250px;
    max-height: 250px; 
}



.item {
    min-width: 300px;
    max-width: 80%;
    margin-bottom: 30px;
    cursor: pointer;
}

.item-imagem{
   --background-color: blue;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    width: 260px;
}

.item-descricao {
    --background-color: grey;
    padding-left: 70px;
    padding-top: 20px;
    width: 320px;
}

.banner {    
    --background-color: green;
  }
  
  .imagem-perfil {    
    --background-color: grey;
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     background-size: cover;
 }

 .imagem {    
   border-radius: 20px;
   max-width: 300px;
   max-height: 200px;

   min-width: 150px;
   min-height: 150px;
}

  .descricao-perfil {    
    padding: 20px;
    --background-color:red;
    border-radius: 20px;
    min-width: 250px;
    min-height: 150px;
}

 

.nome-loja {    
    font-size: 30px;
}