
        <div class="container-card" fxLayout="column" fxLayoutAlign="center center">
            <h3>Loja</h3>
            <form [formGroup]="formulario">
                    <div fxLayout="column" fxLayoutAlign="start start" > 
                    <div  fxLayout="row" fxLayoutAlign="center center">
                        <mat-form-field appearance="fill" style="width:400px;">
                            <span matPrefix>www.caton.com.br/loja/&nbsp;</span>
                            <mat-label>Url Loja</mat-label>
                            <input matInput formControlName="url" maxlength="80">
                        </mat-form-field>
                    </div>  
                    <mat-form-field appearance="fill" style="width:400px;">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome" maxlength="80" style="width:400px;">
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill" style="width:400px;">
                        <mat-label>Descrição</mat-label>
                        <input matInput formControlName="descricao" maxlength="80">
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width:400px;">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" maxlength="80">
                    </mat-form-field>
                </div>
            </form>
        </div>
<div fxLayout="row" fxLayoutAlign="center center" >
      <button mat-raised-button (click)="onNoClick()">Cancelar</button>
      <button mat-raised-button (click)="submit()" color="primary" cdkFocusInitial>{{isEdicao ? 'Salvar' : 'Cadastrar'}}</button>
</div>